# requirements.txt

streamlit
pandas==2.2.3
numpy==2.1.3
scikit-learn==1.6.1
matplotlib==3.10.0
seaborn
openpyxl
python-dotenv
openai>=1.0.0
qdrant-client
langchain
langchain-openai
langchain-qdrant
langchain-core
langgraph
plotly
altair
beautifulsoup4
tqdm
pydantic
typing-extensions
requests
matplotlib
gunicorn